<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Become a Donor | Blood Bridge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container nav-container">
      <a href="/" class="logo-link">
      <div class="logo-group">
        <img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo" class="logo-img" />
        <h1 class="logo-text">Blood Bridge</h1>
      </div>
      </a>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/donate" class="active">Donate</a></li>
          <li><a href="/request">Request</a></li>
          <li><a href="/reward">Reward</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="donor-hero">
    <div class="overlay"></div>
    <div class="hero-content">
      <h2>Become a Lifesaver</h2>
      <p>Sign up to donate blood and give someone another chance at life.</p>
    </div>
  </section>

  <section class="donor-form-section">
    <div class="container">
      <h2 class="section-title">Donor Registration Form</h2>
      <form class="donor-form">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" id="name" placeholder="Your Name" required />
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" placeholder="yourname@gmail.com" required />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" id="phone" placeholder="+977 .........." required />
        </div>
        <div class="form-group">
          <label for="blood-group">Blood Group</label>
          <select id="blood-group" required>
            <option value="">-- Select Blood Group --</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
          </select>
        </div>
        <div class="form-group">
          <label for="location">City / Location</label>
          <input type="text" id="location" placeholder="Biratnagar" required />
        </div>
        <button type="submit" class="btn">Register Now</button>
      </form>
    </div>
  </section>

  
</body>
</html>
