<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BloodBridge</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
   <nav>
    <a href="/">Home</a>
    <a href="/donate">Donate Blood</a>
    <a href="/request">Request Blood</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contact</a>
  </nav>
  <header>
    <img src="/static/logo.png" alt="BloodBridge Logo" class="logo" /></header>
    <h1>BloodBridge</h1>
    <p>Connecting blood donors and seekers
      BloodBridge is an innovative digital platform designed to connect blood donors with 
      recipients in real-time. With a mission to save lives by simplifying access to blood, 
      BloodBridge serves as a vital link between those in urgent need and compassionate 
      donors nearby. Users can request or donate blood through an intuitive interface, 
      access verified donor profiles, receive live updates, and find nearby blood banks or hospitals.
       By harnessing the power of technology and community, BloodBridge helps bridge the critical 
       gap in blood availability—especially during emergencies.
    </p>
    <div class="buttons">
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </div>
  </header>

  <section class="team">
    <h2>Meet the Team</h2>
    <div class="team-members">
      <div class="member">
        <img src="/static/chumban.jpeg" class="round" />
        <p>Chumban Singh</p>
      </div>
      <div class="member">
        <img src="/static/koushiki.jpg" class="round" />
        <p>Koushiki Karna</p>
      </div>
      <div class="member">
        <img src="/static/prashant.jpeg" class="round" />
        <p>Prashant Poudel</p>
      </div>
      <div class="member">
        <img src="/static/biplob.jpg" class="round" />
        <p>Biplob Timilsina</p>
      </div>
    </div>
  </section>
</body>
</html>